.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: Black;
}

.App-header a {
  color: rgb(16, 70, 150);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-image{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.blur-background{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.on-blur{
  z-index: 1;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
}

.bg-light{
  background-color: transparent !important;
}

.a-button{
  cursor: pointer;
}

label input{
  margin: 0.5rem;
}

.card{
  opacity: 0.7 !important;
}

.item-card{
  font-size: 14px !important;
}